{% extends 'base.html' %}
{% block title %}Delete user{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {%for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<form action="#" method="POST">
    <p>Which user do you want to delete?</p>
    <p><input type="text" name="user_name" placeholder="Enter user name"></p>
    <p><input type="submit" value="submit"></p>
</form>
{% endblock %}