{% extends 'base.html' %}
{% block title %}Registration{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<form action="#" method="POST">
    <p>Fill in the form</p>
    <p>Name <input type="text" name="name"></p>
    <p>Email <input type="text" name="email"></p>
    <p><input type="submit" value="submit"></p>
</form>
{% endblock %}